/* colors:
blue: #1aaae6
orange: #f15721
yellow: #f8c337
grey: #414141
light-grey: #ccc
liiiight-grey: #eee
dark-grey: #1f1f1f
*/

* {
    font-family: 'Ubuntu Condensed', sans-serif;
    font-weight: 100;
		font-size: 14px;
		font-size: 1.4rem;
}

h1, h2 {
    /*font-weight: 100;*/
}


html, body {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    border: 0;
}

body {
	background: url('bg.jpg') no-repeat;
	background-size: cover;
	background-attachment: fixed;
}

/*header*/

header {
    width: 100%;
    height: 70px;
    display: block;
    position: relative;
    
    /*box-sizing:border-box;
    -moz-box-sizing:border-box; /* Firefox 28 and earlier*/
    
    margin: 0;
    padding: 0;
    background-color: #000;
    color: #eee;
    
}

header ul {
	background-color: #000;
}

#logo {
    background-image: url(img/cyaprogect_logo_sm_2.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
	
    
    width:100px;
    height: 50px;
    
    display: inline-block;
    float: left;
    
    margin-top: 10px;
    margin-left: 10%;
}

nav {
    display: inline-block;
    float: right;
    margin-right: 10%;
    height: 100%;
}

nav ul {
	margin: 0;
	
}

nav ul li {
    display: inline-block;
    list-style: none;
    float: inherit;
    margin: 0 10px;
	padding: 0;
	background-color: inherit;
	height: 100%;
}

nav ul li a {
    border: 4px solid #fff;
    color: #eee;
    text-decoration: none;
	display: inline-block;
	height: 100%;
	padding: 15px 5px 0;
	transition:all .3s;
	-webkit-transition:all.3s; /* Safari */
    box-sizing: border-box;
}

nav ul li a:hover, nav ul li a:focus, nav ul li a.active {
	color: #fff;
	border: 4px solid #f8c337;
	box-sizing: border-box;
}

/*menu dropdown*/

label[for=menu] {
	
	margin-top: 15px;
	
	width: 35px;
	height: 35px;
	
	display: none;
	float: right;
	
	color: #fff;
	cursor: pointer;
	
	background-image: url(img/ux_el/menu.png);
	background-position: center;
	background-repeat: no-repeat;
	background-size: contain;
}


label[for=menu]:active, label[for=menu]:hover, label[for=menu]:focus {
	color: #1aaae6;
	cursor: pointer;
}

/*footer*/

footer {
    width: 100%;
    display: inline-block;
    position: relative;
    
    box-sizing:border-box;
    -moz-box-sizing:border-box; /* Firefox 28 and earlier*/
    
    margin: 0;
    padding: 10px 10% 20px 10%;
    background-color: #1f1f1f;
    color: #ccc;    
}

footer a {
    text-decoration: none;
    color: #eee;  
}

footer a:hover, footer a:focus {
    text-decoration: underline;
    color: fff;
}

footer span {
    display: block;
    width: 30%;
    float: left;
}

footer span:last-of-type {
    float: right;
    text-align: right;
    padding-top: 20px;
    color: #999;
}

footer span p {
    margin: 5px;
}

/*button*/

.button {
    display: inline-block;
    float: inherit;
    background-color: #1f1f1f;
    color: #eee;
    
    width: auto;
    
    text-decoration: none;
    
    padding: 5px;
    text-align: center;
    
    font-size: 1.5rem;
    
    transition: border 0.3s;
    
    outline: none;
    border: 4px solid #fff;
}

.button:hover, .button:focus {
    cursor: pointer;
	
	border: 4px solid #f8c337;
    
}

h1, h2 {
    margin-top: 0px;
	font-size: 18px;
    font-size: 1.8rem;
    text-align: center;
}

h3 {margin: 0;}

.hide {display: none;}
    

textarea {
    width:100%;
	border: none;
    box-shadow: 0 0 3px rgba(0,0,0,1),
								4px 4px 0 #f8c337, 
								-4px 4px 0 #f8c337, 
								4px -4px 0 #f8c337, 
								-4px -4px 0 #f8c337;
    outline: none;
    resize: none;
    background-color: #1f1f1f;
	color: #fff;
    
    font-family: 'Cousine';
	font-weight: normal;
	font-size: 1rem;
    
    transition:all .3s;
    -webkit-transition:all.3s; /* Safari */
}

textarea:focus {
	box-shadow: 4px 4px 0 #f15721, 
								-4px 4px 0 #f15721, 
								4px -4px 0 #f15721, 
								-4px -4px 0 #f15721;
}

/*popup*/

.popupcontent {
	
	font-size: 1rem;
	
	margin: auto;
  	position: absolute;
  	top: 0; left: 0; bottom: 0; right: 0;
	
    display: block;
    
    background-color: #eee;
    border-radius: 10px;
    border: 5px solid #1aaae6;
    
    z-index: 100;
    padding: 40px;
    color: #1f1f1f;
  
}

#popup, #popup2 {
	position: fixed;
	z-index: 98;
	
    width: 100%;
    height: 100%;
	
    opacity: 0;
    filter: opacity(0);
	
	transform:scale(0);
    -ms-transform:scale(0); /* IE 9 */
    -webkit-transform:scale(0); /* Opera, Chrome, and Safari */
}

.popupcontent p {
    margin: 0;
    font-size: 1rem;
	
	
}

/*.popupcontent p h2, .popupcontent h2 {
    font-size: 2em;
}*/

.fade {
    display: block;
    width: 100%;
    height: 100%;
    background-color: #000;
	position: fixed;
    
    z-index: 99;
	
	opacity: .3;
    filter: opacity(30);
	
	cursor: pointer;
}

.popupcontent, .fade {
    transition-property: opacity, filter;
    transition-duration: .3s;
    -webkit-transition-property: opacity, filter; /* Safari */
    -webkit-transition-duration:.3s; /* Safari */
}

/*.close {
	cursor: pointer;
	width: 30px;
	height: 30px;
	
	background-image: url(img/ux_el/close.png);
	background-position: center;
	background-size: contain;
	background-repeat: no-repeat;
	
	right: 5px;
    top: 5px;
	
	position: absolute;
	z-index: 11111;
	
	display: block;
		
}*/



section, .popupcontent {
	background-image:url(img/bg2.png);
  
}

/*
section, header
{
  	position:relative;
    -webkit-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
       -moz-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
            box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
}
section:before, section:after, header:after, header:after
{
	z-index: -1;
  position: absolute;
  content: "";
  bottom: 15px;
  left: 10px;
  width: 50%;
  top: 80%;
  max-width:300px;
  background: #777;
  -webkit-box-shadow: 0 15px 10px #777;
  -moz-box-shadow: 0 15px 10px #777;
  box-shadow: 0 15px 10px #777;
  -webkit-transform: rotate(-3deg);
  -moz-transform: rotate(-3deg);
  -o-transform: rotate(-3deg);
  -ms-transform: rotate(-3deg);
  transform: rotate(-3deg);
	
}
section:after, header:after
{
	-webkit-transform: rotate(3deg);
  -moz-transform: rotate(3deg);
  -o-transform: rotate(3deg);
  -ms-transform: rotate(3deg);
  transform: rotate(3deg);
  right: 10px;
  left: auto;
}*/
