<div ng-controller="reportingCtrl">
    <section >
        <p>Здесь можно сообщить о недоступных сайтах, чтобы призвать владельцев исправиться</p>
        <h2>Введите ссылку</h2>
        <p></p>
        <form method="post" action="javascript:popup()"  id="linkform">
                            <span>
                                    <textarea name="link" id="t3" ng-model="link"></textarea>
                            </span>
            <p></p>
            <input type="submit" value="Сообщить" class="button" id="linkbutton" ng-click="report()"/>
        </form>
    </section>
    <section>
        <h2>Нам сообщили о недоступности этих сайтов</h2>
        <ul >
            <li ng-repeat="website in websites"> {{website}} </li>
        </ul>
    </section>
</div>